---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import googleAds from "@/content/images/accolades/google-ads.png";
import customerJac from "@/content/images/accolades/customer-jac.png";
import perfectCSAT from "@/content/images/accolades/perfect-csat.png";
import applause1 from "@/content/images/accolades/applause-1.png";
import applause2 from "@/content/images/accolades/applause-2.png";
---

<section class="flex flex-col gap-8">
  <h3 class="flex flex-row w-full gap-2 text-lg text-neutral-100">
      Wall of Love <Icon
          class="h-6 text-[#d6353a] animate-heart-pulse"
          name="mdi:heart"
      />
  </h3>
  <section class="flex flex-col gap-4">
      <Image
          class="rounded-md"
          src={googleAds}
          alt="Google Ads Accolade"
      />
      <Image class="rounded-md" src={customerJac} alt="" />
      <Image class="rounded-md" src={perfectCSAT} alt="Perfect CSAT Accolade" />
      <Image class="rounded-md" src={applause1} alt="" />
      <Image class="rounded-md" src={applause2} alt="" />
  </section>
</section>